.container{
    
    .flex(center, none, column);

    .header {
        padding: 30px;
        .flex(space-around, center, row);

        img{
            width: 100px;
            padding-left: 50px;
        }
    
        nav {
            padding-left: 100px;
            
            a {
                padding: 0 30px;
                text-decoration: none;
                color: black;

            }
            // .contact-bar {
            //     color: white;
            //     background-color: rgb(213, 62, 35);
            // }
            // @media @phone {
            //     margin: 0 30px 0 0;
            // }
        }
    }

}
