.container{
    
    .flex(center, none, column);

    .header {
        padding: 30px;
        .flex(space-around, center, row);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 9999;
        background-color: white;
        -webkit-box-shadow: 0 12px 12px -15px #999;
        -moz-box-shadow: 0 12px 12px -15px #999;
        box-shadow: 0 12px 12px -15px #999;
        @media @tablet {
            .flex(space-around, center, column);
        }
        @media @mobile {
            .flex(space-around, none, row);
        }

        img{
            width: 100px;
            padding-left: 50px;
            @media @tablet {
                padding-left: 0;
            }
            @media @phone {
                margin-left: 40px;
                width: 120px;
            }
        }
    
        nav {
            padding-left: 100px;
            @media @tablet {
                padding-left: 0;
                padding-top: 30px;
            }
            @media @mobile {
                .flex(none, flex-end, column);
                padding-top: 0px;
            }
            
            a {
                padding: 0 30px;
                text-decoration: none;
                color: black;
                @media @phone {
                    padding: 0 15px;
                }
                @media @mobile {
                    padding: 7px 0;
                }

            }
        }
    }
}
