.carousel {
  width: 100%;
  background: @light-teal;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  position: relative;

  p {
    font-weight: 200;
    font-size: 1.8rem;
  }

  @media @tablet{ 
    min-height: 50vh;
    padding: 5rem;
    margin-bottom: 5rem;
  } 
  @media @mobile {
    height: 70vh;
    padding: 3rem;
    margin-bottom: 3rem;
  }

  .left-button, .right-button {
    position: absolute;
    color: @accent1;
    background-color: @dark-teal;
    font-size: 4rem;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    z-index: 10;
    cursor: pointer;
    &:hover {
      color: @light-teal;
      background-color: @light-blue;
      border: 1px solid @light-blue;
    }
  }
  .left-button {
    left: 3rem;
  }
  .right-button {
    right: 3rem;
  }

  .card {
    width: 70%;
    height: 30vh;
    display: none;
    border: 2px solid @light-teal;
    padding: 5rem 9rem;
    background-color: @light-blue;
    border-radius: 5px;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 3;
    opacity: 1;

    @media @tablet{ 
      min-height: 50vh;
      width: 90%;
    } 
    @media @mobile {
      height: 80vh;
      width: 80%;
    }

    
  } 
  }
  