.team-tabs {
    .topics {
        .flex(center, center, row);
        max-width: 800px;
        padding: 50px;
        margin: 0 auto;

        .tab {
            padding: 0 20px;
        }
    }
}

.team-card {
    .flex(center, center, column);
    .background-teal();
    padding: 50px;

    .team-member {
        margin: 0 auto;
    }
}