.introduce-team {
    .flex(center, center, column);
    margin: 50px;
    padding: 20px;
}

.team-tabs {
    .background-teal();
    .topics {
        .flex(center, center, row);
        max-width: 800px;
        padding: 50px;
        margin: 0 auto; 

        .tab {
            margin: 0 5px;
            padding: 5px 14px;
            letter-spacing: 2px;
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }

        .active-tab {
            background-color: black;
            color: white;
            border: 2px solid @dark-gray;
        }
    }
}

.team-card {
    .flex(center);
    flex-wrap: wrap;
    padding: 50px;

    .team-member {
        .flex(space-between, row);
        width: 400px;
        padding: 20px;
        margin: 20px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        
        .img-container {
            padding-right: 10px;
            height: 40px;
            img {
              width: 100px;
              border-radius: 50%;
            }
        }
        .member-container {
            .flex(center, none, column);
            border-left: 1px solid @dark-gray;
            padding-left: 10px;
        }
    }
}