.introduce-team {
    .flex(center, center, column);
    margin: 150px 0 70px 0;
    padding: 20px;
    @media @tablet {
        margin: 180px 0 70px 0;
    }
    @media @phone {
        margin: 180px 0 30px 0;
    }
    h1 {
        font-weight: normal;
        font-size: 1.8rem;
    }

    .intro-container {
        .flex(center, center, row);
        padding: 50px;
        margin: 20px;
        max-width: 650px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        @media screen and (max-width: 660px) {
            padding: 20px;
        }
        @media @phone {
            padding: 30px;
            .flex(center, center, column);
            text-align: center;
        }
        
        img {
            max-width: 100px;
            margin: 0 20px;
            @media @phone {
                padding-top: 20px 0;
            }
        }
        .empowered-logo{
            max-width: 150px;
        }
        
        .intro-text {
            padding: 0 10px 0 10px;
            h3 {
                font-weight: normal;
                @media @mobile {
                    width: 180px;
                }
            }
            a {
                color: black;
            }
            p {
                @media @mobile {
                    display: none;
                }
            }
        }
    }
}

.team-tabs {
    .background-teal();
    .topics {
        .flex(center, center, row);
        max-width: 800px;
        padding: 50px;
        margin: 0 auto; 
        @media @phone {
            .flex(center, center, column);
        }
        @media @mobile {
            .flex(center, center, row);
        }

        .title {
            padding-right: 20px;
        }

        .role-tabs {
            .flex(center, center, row);
            @media @mobile {
                .flex(center, center, column);
            }
        }

        .tab {
            margin: 0 5px;
            padding: 8px 14px;
            letter-spacing: 2px;
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }

        .active-tab {
            background-color: black;
            color: white;
        }
    }
}

.team-card {
    .flex(center);
    flex-wrap: wrap;
    padding: 50px;

    .team-member {
        .flex(space-between, row);
        width: 400px;
        padding: 30px;
        margin: 20px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        
        @media @phone {
            .flex(center, center, column);
        }

        .img-container {
            padding-right: 20px;
            height: 40px;
            @media @phone {
                padding-bottom: 75px;
            }
            img {
              width: 100px;
              border-radius: 50%;
            }
        }
        .member-container {
            .flex(center, none, column);
            border-left: 1px solid @dark-gray;
            padding-left: 20px;
            width: 260px;

            @media @phone {
                border-left: none;
                border-top: 1px solid @dark-gray;
                padding-top: 20px;
            }
            @media @mobile {
                width: 210px;
            }
            .name {
                font-size: 1.5rem;
            }
            .icon-row {
                padding-top: 20px;
                .flex(flex-start, none, row);
                .fa {
                    color: rgb(44, 45, 44);
                    padding: 5px 10px;
                    font-size: 30px;
                }
            }
            
        }
    }
}

.bg-divider {
    .background-teal();
    padding: 50px;
    h1 {
        text-align: center;
        font-weight: normal;
    }
}