.dropdown {
  position: absolute;
  right: 9rem;
  z-index: 5;
  
  .dropdown-button {
    padding: 8px 25px;
    border: 2px solid @dark-teal;
    border-radius: 5px;
  }

    span, .dropdown-link  {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.6rem;
}

  .dropdown-content {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;  
    margin-top: 10px;
  }
  .dropdown-link {
    width: 100%;
    text-align: center;
    padding: 15px 0;
  }
  .dropdown-hidden {
    display: none;
  }
}





