
.how {
  padding: 0 9rem;
  
  .how-content {
    margin: 9rem 0;
    padding: 0 9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid red;
   .step {
    .steps();
    
    p {
      font-size: 1.4rem;
    }
    .step1 {
      transition-delay: 0s;
    }
    .step2 {
      transition-delay: 0s;
    }
    .step3 {
      transition-delay: 0s;
    }

  }
  }
  

  
}

.zig-zag {
  padding: 0 9rem;
  
  .approach {
    margin: 9rem 0;
    padding: 0 9rem;
    display: flex;
    flex-wrap: wrap;
  
    .for-survivor {
      margin-top: 3rem;
      width: 50%;
   border: 1px solid red;
    }
    .for-recipient {
      margin-top: 3rem;
      border: 1px solid red;
      width: 50%;
    }
}



}

.testimonials {
  .text-section();
}

.contact {
  .text-section();
  border: none;
}