.how {
  background-color: @accent2;
  margin-top: 9rem;
  width: 100%;
  .mediaWidth();
  .mediaPad();

  h2,
  p {
    color: @light-blue;
  }

  .how-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    .mobileFlex();

    .step {
      width: 30%;

      @media @tablet {
        min-width: 50%;
        padding: 3rem;
      }

      @media @mobile {
        width: 100%;
        padding: 3rem;
      }

      .dot {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-bottom: 1.6rem;
        background-color: @light-blue;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .dot-image {
        height: 40px;
        opacity: 0.5;
      }
    }
  }
}

.zig-zag {
  .mediaPad();

  .approach {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
    .mobileFlex();

    p {
      margin-bottom: 3rem;
    }
    p:last-of-type {
      margin-bottom: 0;
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}

.zig-left {
  padding-right: 1.5rem;
}
.zig-right {
  padding-left: 1.5rem;
}

.zig-left,
.zig-right {
  width: 50%;
  margin: 3rem 0;
  @media @mobile {
    width: 100%;
    margin: 0;
    padding: 3rem 0;
  }
}

.testimonials-title {
  text-align: center;
}
.testimonials {
  margin: 0 9rem;

  @media @tablet {
    margin: 0 5rem;
  }
  @media @mobile {
    margin: 0 3rem;
  }
}

.pullquote {
  img {
    width: 50%;
    height: auto;
  }
}

.contact {
  background-color: @dark-teal;
  .mediaPad();

  .contact-content {
    p {
      margin-bottom: 5rem;
    }

    a {
      border-bottom: 1px solid @accent1;
    }

    button {
      border: 2px solid @light-blue;
      margin-bottom: 3rem;
      width: 16rem;

      @media @mobile, @tablet {
        width: 100%;
      }
    }

    input {
      padding: 9px;
      width: 16rem;
      color: @accent2;
      border: none;
      border-bottom: 2px solid @light-teal;
      border-right: 1px solid @light-gray;
      background: @light-blue;
      margin-right: 2rem;
      margin-bottom: 2rem;
      border-radius: 5px;
      outline: none;
      .mediaWidth();
    }

    input[type="email"] {
      width: 35rem;

      @media @tablet, @mobile {
        width: 100%;
      }
    }
  }
}
