* {
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }

  body {
    background: #e3e3e3;
    background-image: linear-gradient(90deg ,#d3f0ed, #e3e3e3,#8fedc2);
  }

  h1 {
    font-family: 'Work Sans', sans-serif;
    font-size: 4rem;
    font-weight: 800;
  }
  
  h2 {
    font-family: 'Libre Baskerville', serif;
    font-size: 3.2rem;
  }
  
  h3 {
    font-family: 'Work Sans', sans-serif;
    font-size: 2.8rem;
  }
  
  p {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 1.4;
  }
  
  .wrapper {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;  
  }

  a {
    cursor: pointer;
    color: #24b4a5;
    text-decoration: none;
    border-bottom: 1px solid #e3e3e3;
    box-shadow: inset 0 -3px 0 #e3e3e3;
    transition: background 0.4s ease-out;
  }