.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 800;
    padding: 1rem 9rem;
    background-color: @light-teal;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 8rem;

    @media @mobile {
        position: absolute;
        padding: 3rem;
        flex-direction: column;
        justify-content: center;
        }
   
    img {
    height: 4rem;
    }

    ul {
    display: flex;
    justify-content: space-between;

         @media @mobile {
            flex-direction: column;
            display: none;
        }

        li { 
            padding: 0 3rem; 

            @media @mobile {
                padding: 3rem;
                border-bottom: 1px solid @dark-teal;
                width: 100%;
            }
        }
        li:last-of-type {
            padding-right: 0;
        }
    }
    
    a {
    border: none;
    box-shadow: none;
    }
}

.cta {
    padding: 9rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    @media @mobile {
        width: 100%;
        padding: 3rem;
      }

    .cta-left, .cta-right {
    }
    
    p {
        font-family: 'Libre Baskerville', serif;
        font-style: italic
    }
    
    h1 {
        @media @tablet {
            font-size: 2.8rem;
        }
        @media @mobile {
            font-size: 2.8rem;
        };
    }
    h4 {
        color: @dark-teal;
    }
  }