.nav {
    color: @light-teal;
    background: @light-teal;
    padding: 1rem 3rem;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;

    img {
        height:100%;
    }
    
}

.cta {
    padding: 5rem 0;
    display: flex;
    height: 100vh;

    p {
        font-family: 'Libre Baskerville', serif;
        font-style: italic
    }
  }