.mobileFlex {
    @media @mobile {
        flex-direction: column;
      }
}

.mediaWidth {
    @media @tablet {
        width: 100%;
        }

      @media @mobile {
        width: 100%;
        }
}

.mediaPad{
    padding: 9rem;
    @media @tablet {
        padding: 5rem;
        }
      @media @mobile {
        padding: 3rem;
        }
}