/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background: #e3e3e3;
  background-image: linear-gradient(90deg, #e3e3e3, #d3f0ed, #8fedc2);
}
h1,
h2,
h3,
h4,
p {
  color: #0D0221;
}
h1 {
  font-family: 'Work Sans', sans-serif;
  font-size: 10rem;
  font-weight: 800;
}
h2 {
  font-family: 'Libre Baskerville', serif;
  font-size: 4rem;
  color: #022B3A;
  margin-bottom: 5rem;
}
h3 {
  font-family: 'Work Sans', sans-serif;
  font-size: 2.8rem;
}
h4 {
  font-family: 'Work Sans', sans-serif;
  font-style: italic;
  font-size: 2.8rem;
}
p,
li {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}
.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.wrapper {
  margin: 0;
  padding: 0 9rem;
}
@media (max-width: 800px) {
  .wrapper {
    margin: 0;
    padding: 0;
  }
}
@media (max-width: 500px) {
  .wrapper {
    margin: 0;
    padding: 0;
  }
}
a {
  cursor: pointer;
  color: #24b4a5;
  text-decoration: none;
  border-bottom: 1px solid #24b4a5;
  box-shadow: inset 0 -3px 0 #24b4a5;
}
button {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.6rem;
  margin-top: 5rem;
  color: #d3f0ed;
  background-color: #24b4a5;
  padding: 8px 25px;
  border: 2px solid #24b4a5;
}
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 800;
  padding: 1rem 9rem;
  background-color: #8fedc2;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
}
.nav img {
  height: 4rem;
}
.nav ul {
  display: flex;
  justify-content: space-between;
}
.nav ul li {
  padding: 0 3rem;
}
.nav a {
  border: none;
  box-shadow: none;
}
.cta {
  padding: 9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.cta p {
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
}
.cta h4 {
  color: #24b4a5;
}
.how {
  background-color: #022B3A;
  padding: 9rem;
  width: 100%;
}
@media (max-width: 800px) {
  .how {
    padding: 5rem;
  }
}
@media (max-width: 500px) {
  .how {
    padding: 3rem;
  }
}
.how h2,
.how p {
  color: #d3f0ed;
}
.how .how-content {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .how .how-content {
    flex-direction: column;
  }
}
.how .how-content .step {
  width: 30%;
  border: 1px solid red;
}
@media (max-width: 800px), (max-width: 500px) {
  .how .how-content .step {
    flex-direction: column;
    width: 100%;
  }
}
.how .how-content .step .dot {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #d3f0ed;
  margin-bottom: 1.6rem;
}
.how .how-content .step1 {
  transition-delay: 0s;
}
.how .how-content .step2 {
  transition-delay: 0s;
}
.how .how-content .step3 {
  transition-delay: 0s;
}
.zig-zag {
  padding: 9rem;
}
.zig-zag .approach {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.zig-zag .approach .approach-img-right,
.zig-zag .approach .approach-img-left {
  width: 50%;
  height: auto;
  border: 1px solid red;
}
.zig-zag .approach .for-survivor {
  width: 50%;
  border: 1px solid blue;
}
.zig-zag .approach .for-recipient {
  border: 1px solid blue;
  width: 50%;
}
.contact {
  background-color: #0D0221;
  padding: 9rem;
}
footer {
  background: #24b4a5;
  padding: 1.5rem;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 9rem;
}
footer p {
  color: #8fedc2;
}
.carousel .left-button,
.carousel .right-button {
  color: #5603AD;
  background-color: #8fedc2;
  font-size: 4rem;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.carousel .left-button:hover,
.carousel .right-button:hover {
  color: #5603AD;
  background-color: #24b4a5;
  border: 2px solid #24b4a5;
}
.carousel .left-button {
  top: 50%;
  left: 25px;
  transform: translate(0, -50%);
}
.carousel .right-button {
  top: 50%;
  right: 25px;
  transform: translate(0, -50%);
}
