@media (max-width: 500px) {
  .mobileFlex {
    flex-direction: column;
  }
}
@media (max-width: 800px) {
  .mediaWidth {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .mediaWidth {
    width: 100%;
  }
}
.mediaPad {
  padding: 9rem;
}
@media (max-width: 800px) {
  .mediaPad {
    padding: 5rem;
  }
}
@media (max-width: 500px) {
  .mediaPad {
    padding: 3rem;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background: #e3e3e3;
  background-image: linear-gradient(90deg, #e3e3e3, #d3f0ed, #8fedc2);
}
h1,
h2,
h3,
h4,
p {
  color: #0D0221;
}
h1 {
  font-family: 'Work Sans', sans-serif;
  font-size: 8rem;
  font-weight: 800;
}
h2 {
  font-family: 'Libre Baskerville', serif;
  font-size: 4rem;
  color: #022B3A;
  margin-bottom: 5rem;
}
@media (max-width: 500px) {
  h2 {
    font-size: 3rem;
  }
}
h3 {
  font-family: 'Work Sans', sans-serif;
  font-size: 2.8rem;
  margin-bottom: 3rem;
}
h4 {
  font-family: 'Work Sans', sans-serif;
  font-style: italic;
  margin-bottom: 3rem;
  font-size: 2.5rem;
  line-height: 1.3;
  color: #022B3A;
}
p,
input,
span {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}
.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.wrapper {
  margin: 0;
  padding: 0 9rem;
}
@media (max-width: 800px), (max-width: 500px) {
  .wrapper {
    padding: 0;
  }
}
.wrapper-xl {
  margin: 0;
  padding: 9rem 0;
  background: #8fedc2;
}
@media (max-width: 800px) {
  .wrapper-xl {
    padding: 5rem 0;
  }
}
@media (max-width: 500px) {
  .wrapper-xl {
    padding: 3rem 0;
  }
}
a,
span {
  cursor: pointer;
  text-decoration: none;
  color: #0D0221;
}
a:hover {
  color: #5603AD;
}
button {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.6rem;
  color: #d3f0ed;
  background-color: #24b4a5;
  padding: 8px 25px;
  border: 2px solid #24b4a5;
  border-radius: 5px;
  margin-right: 1rem;
  cursor: pointer;
}
button:focus {
  outline: thin dotted;
}
aside {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 9rem;
}
@media (max-width: 800px) {
  aside {
    padding: 5rem;
  }
}
@media (max-width: 500px) {
  aside {
    padding: 3rem;
  }
}
.shadow {
  -webkit-box-shadow: 4px 4px 6px 0px rgba(2, 43, 58, 0.2);
  -moz-box-shadow: 4px 4px 6px 0px rgba(2, 43, 58, 0.2);
  box-shadow: 4px 4px 6px 0px rgba(2, 43, 58, 0.2);
}
video {
  width: 100%;
  min-height: 100%;
  opacity: 0.5;
  object-fit: fill;
}
@media (max-width: 800px), (max-width: 500px) {
  video {
    height: 100%;
    object-fit: cover;
  }
}
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: #8fedc2;
  border: none;
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav img {
  height: 6rem;
  width: auto;
  margin-left: 9rem;
}
@media (max-width: 800px) {
  .nav img {
    margin-left: 5rem;
  }
}
@media (max-width: 500px) {
  .nav img {
    margin-left: 3rem;
  }
}
.cta {
  padding: 0;
  width: 100%;
  height: 105vh;
  overflow: hidden;
}
.cta-flex {
  position: absolute;
  top: 3rem;
  left: 0;
  min-height: 100%;
  width: 100%;
  display: flex;
  z-index: 9;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  overflow: hidden;
}
@media (max-width: 800px), (max-width: 500px) {
  .cta-flex {
    flex-direction: column;
  }
}
.cta-flex .cta-heading {
  text-align: right;
  text-shadow: 1px 1px 2px #5603AD;
}
@media (max-width: 800px), (max-width: 500px) {
  .cta-flex .cta-heading {
    padding-top: 9rem;
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 800px), (max-width: 500px) {
  .cta-flex .cta-heading h1 {
    font-size: 6rem;
  }
}
.cta-flex .cta-content {
  flex-basis: 40%;
  background-image: linear-gradient(90deg, #e3e3e3, #d3f0ed, #8fedc2);
  background-color: #e3e3e3;
  border-radius: 2rem;
  padding: 5rem;
}
@media (max-width: 800px), (max-width: 500px) {
  .cta-flex .cta-content {
    width: 90%;
    text-align: center;
  }
}
.cta-flex .cta-content .secondary {
  color: #24b4a5;
  background-color: transparent;
  border: 2px solid #24b4a5;
}
.cta-flex .team-img img {
  border-radius: 50%;
}
.cta-flex .team-text {
  text-shadow: 1px 1px 2px #5603AD;
}
@media (max-width: 800px), (max-width: 500px) {
  .cta-flex .team-text {
    padding-top: 9rem;
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 800px), (max-width: 500px) {
  .cta-flex .team-text h1 {
    font-size: 6rem;
  }
}
.how {
  background-color: #022B3A;
  margin-top: 9rem;
  width: 100%;
  padding: 9rem;
}
@media (max-width: 800px) {
  .how {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .how {
    width: 100%;
  }
}
@media (max-width: 800px) {
  .how {
    padding: 5rem;
  }
}
@media (max-width: 500px) {
  .how {
    padding: 3rem;
  }
}
.how h2,
.how p {
  color: #d3f0ed;
}
.how .how-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .how .how-content {
    flex-direction: column;
  }
}
.how .how-content .step {
  width: 30%;
}
@media (max-width: 800px) {
  .how .how-content .step {
    min-width: 50%;
    padding: 3rem;
  }
}
@media (max-width: 500px) {
  .how .how-content .step {
    width: 100%;
    padding: 3rem;
  }
}
.how .how-content .step .dot {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 1.6rem;
  background-color: #d3f0ed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.how .how-content .step .dot-image {
  height: 40px;
  opacity: 0.5;
}
.zig-zag {
  padding: 9rem;
}
@media (max-width: 800px) {
  .zig-zag {
    padding: 5rem;
  }
}
@media (max-width: 500px) {
  .zig-zag {
    padding: 3rem;
  }
}
.zig-zag .approach {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;
}
@media (max-width: 500px) {
  .zig-zag .approach {
    flex-direction: column;
  }
}
.zig-zag .approach p {
  margin-bottom: 3rem;
}
.zig-zag .approach p:last-of-type {
  margin-bottom: 0;
}
.zig-zag .approach img {
  width: 100%;
  height: auto;
}
.zig-zag .approach .zig-left {
  padding-right: 1.5rem;
}
.zig-zag .approach .zig-right {
  padding-left: 1.5rem;
}
.zig-zag .approach .zig-left,
.zig-zag .approach .zig-right {
  width: 50%;
}
@media (max-width: 500px) {
  .zig-zag .approach .zig-left,
  .zig-zag .approach .zig-right {
    width: 100%;
    margin: 0;
    padding: 3rem 0;
  }
}
@media (max-width: 500px) {
  .zig-zag .approach .zig-left:last-of-type {
    order: 99;
  }
}
.testimonials-title {
  text-align: center;
}
.testimonials {
  margin: 0 9rem;
}
@media (max-width: 800px) {
  .testimonials {
    margin: 0 5rem;
  }
}
@media (max-width: 500px) {
  .testimonials {
    margin: 0 3rem;
  }
}
.pullquote img {
  width: 100%;
  height: auto;
}
.contact {
  background-color: #24b4a5;
  padding: 9rem;
}
@media (max-width: 800px) {
  .contact {
    padding: 5rem;
  }
}
@media (max-width: 500px) {
  .contact {
    padding: 3rem;
  }
}
.contact .contact-content p {
  margin-bottom: 5rem;
}
.contact .contact-content a {
  border-bottom: 1px solid #5603AD;
}
.contact .contact-content button {
  border: 2px solid #d3f0ed;
  margin-bottom: 3rem;
  width: 16rem;
}
@media (max-width: 500px), (max-width: 800px) {
  .contact .contact-content button {
    width: 100%;
  }
}
.contact .contact-content input {
  padding: 9px;
  width: 16rem;
  color: #022B3A;
  border: none;
  border-bottom: 2px solid #8fedc2;
  border-right: 1px solid #e3e3e3;
  background: #d3f0ed;
  margin-right: 2rem;
  margin-bottom: 2rem;
  border-radius: 5px;
  outline: none;
}
@media (max-width: 800px) {
  .contact .contact-content input {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .contact .contact-content input {
    width: 100%;
  }
}
.contact .contact-content input[type=email] {
  width: 35rem;
}
@media (max-width: 800px), (max-width: 500px) {
  .contact .contact-content input[type=email] {
    width: 100%;
  }
}
footer {
  background: #8fedc2;
  padding: 1.5rem;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 9rem;
}
@media (max-width: 800px), (max-width: 500px) {
  footer {
    margin-top: 0;
  }
}
.carousel {
  width: 100%;
  background: #8fedc2;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  position: relative;
}
.carousel p {
  font-weight: 200;
  font-size: 1.8rem;
}
@media (max-width: 800px) {
  .carousel {
    min-height: 50vh;
    padding: 5rem;
    margin-bottom: 5rem;
  }
}
@media (max-width: 500px) {
  .carousel {
    height: 70vh;
    padding: 3rem;
    margin-bottom: 3rem;
  }
}
.carousel .left-button,
.carousel .right-button {
  position: absolute;
  color: #8fedc2;
  background-color: #24b4a5;
  font-size: 3rem;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.carousel .left-button:hover,
.carousel .right-button:hover {
  color: #8fedc2;
  background-color: #d3f0ed;
  border: 1px solid #e3e3e3;
}
.carousel .left-button {
  left: 3rem;
}
.carousel .right-button {
  right: 3rem;
}
.carousel .card {
  width: 70%;
  height: 30vh;
  display: none;
  padding: 5rem 9rem;
  background-color: #d3f0ed;
  border-radius: 15px;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 3;
  opacity: 1;
}
@media (max-width: 800px) {
  .carousel .card {
    min-height: 50vh;
    width: 90%;
  }
}
@media (max-width: 500px) {
  .carousel .card {
    height: 80vh;
    width: 80%;
  }
}
.dropdown {
  position: absolute;
  right: 9rem;
  z-index: 5;
}
@media (max-width: 800px), (max-width: 500px) {
  .dropdown {
    right: 0;
  }
}
.dropdown .dropdown-button {
  position: float;
  right: 0;
  padding: 8px 25px;
  border: 2px solid #24b4a5;
  border-radius: 5px;
}
@media (max-width: 800px) {
  .dropdown .dropdown-button {
    margin-right: 5rem;
  }
}
@media (max-width: 500px) {
  .dropdown .dropdown-button {
    margin-right: 3rem;
  }
}
.dropdown span,
.dropdown .dropdown-link {
  font-family: 'Work Sans', sans-serif;
  border: none;
}
.dropdown .dropdown-content {
  right: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  background-color: #8fedc2;
}
.dropdown .dropdown-link {
  text-align: center;
  font-size: 2rem;
  line-height: 3.5;
  min-width: 25rem;
}
.dropdown .dropdown-link a {
  padding: 3rem;
  margin: 3rem;
}
.dropdown .dropdown-link:hover {
  color: #5603AD;
  background-color: #d3f0ed;
}
.dropdown .dropdown-hidden {
  display: none;
}
.wrap-team {
  background-color: transparent;
}
.roster {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}
@media (max-width: 500px) {
  .roster {
    flex-direction: column;
  }
}
.roster .roster-title {
  width: 100%;
  text-align: left;
  margin-bottom: 3rem;
}
.roster img {
  width: 100%;
  height: auto;
}
.roster .roster-left {
  padding-right: 1.5rem;
}
.roster .roster-right {
  padding-left: 1.5rem;
}
.roster .roster-left,
.roster .roster-right {
  width: 50%;
  text-align: center;
}
@media (max-width: 500px) {
  .roster .roster-left,
  .roster .roster-right {
    width: 100%;
    margin: 0;
    padding: 3rem 0;
  }
}
.ui {
  background-color: #24b4a5;
  padding: 9rem;
  width: 100%;
}
@media (max-width: 800px) {
  .ui {
    padding: 5rem;
  }
}
@media (max-width: 500px) {
  .ui {
    padding: 3rem;
  }
}
.ui .ui-title h2 {
  margin-bottom: 2rem;
}
.ui .ui-title p {
  margin-bottom: 6rem;
}
.ui .ui-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .ui .ui-content {
    flex-direction: column;
  }
}
.ui .ui-content h3,
.ui .ui-content p {
  color: #d3f0ed;
}
.ui .ui-content p {
  margin-bottom: 3rem;
}
.ui .ui-content .step {
  width: 30%;
}
@media (max-width: 800px) {
  .ui .ui-content .step {
    min-width: 50%;
    padding: 3rem;
  }
}
@media (max-width: 500px) {
  .ui .ui-content .step {
    width: 100%;
    padding: 3rem;
  }
}
.ui .ui-content .dot {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #d3f0ed;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
