
    .landing-content {
        .flex(space-around, center);
        padding: 0 20px;
        margin: 180px 50px 50px 50px;
        
        @media @tablet {
            .flex(space-evenly, center);
            margin: 210px 0 30px 0;
        }
        @media @phone {
            display: inline-flex;
            margin: 210px 10px 50px 10px;
        }
        
        img {
            max-width: 600px;
            width: 50%;
            transform: scaleX(-1);
            @media @tablet {
                max-width: 400px;
                width: 50%;
            }
            @media @phone {
                max-width: 100%;
                display: block;
                margin: 0 0 0 10px;
                position: relative;
            }
        }
        .landing-text {
            .flex(center, center, column);
            width: 400px;
            text-align: center;
            
            @media @tablet {
                width: 250px;
            }
            
            h1 {
                font-size: 1.8rem;
                font-weight: normal;
                @media @phone {
                    position: absolute;
                    background-color: #f4f4f4;
                    top: 230px;
                    right: 40px;
                    padding: 4px;
                    border-radius: 2px;
                }
                @media @mobile {
                    font-size: 1.6rem;
                    right: 30px;
                }
                
            }
            h3 {
                margin: 0;
                font-weight: normal;
                @media @phone {
                    position: absolute;
                    background-color: #f4f4f4;
                    top: 330px;
                    right: 40px;
                    padding: 4px;
                    border-radius: 2px;
                }
                @media @mobile {
                    font-size: 1.1rem;
                    right: 30px;
                    top: 320px;
                }
            }
            p {
                max-width: 400px;
                line-height: 1.25;
                @media @tablet {
                    display: none;
                }
            }
            button {
                font-size: 1rem;
                padding: 8px 25px;
                border-radius: 6px;
                font-family: "HelveticaNeue-Light";
                background-color: @orange;
                color: white;
                cursor: pointer;
                box-shadow: 0 4px 6px hsla(0,0%,0%,.1);

                &:hover {
                    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
                }
                @media @tablet {
                    display: none;
                }
            }
        }
    }

    .sm-form {
        .flex(center, center, row);
        @media @tablet {
            .flex(center, center, column);
        }
        button {
            font-size: 1.2rem;
            padding: 10px 35px;
            border-radius: 8px;
            font-family: "HelveticaNeue-Light";
            background-color: @orange;
            color: white;
            cursor: pointer;
            box-shadow: 0 4px 6px hsla(0,0%,0%,.1);
            outline: none;

            &:hover {
                box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            }
            @media @tablet {
                margin: 10px 0;
            }
        }
        
        .hidden {
            display: none;
            text-align: center;
            @media @tablet {
                display: block;
            }
            @media @mobile {
                width: 250px;
            }
        } 
    }
