.landing-content {
    .flex(space-around, center);
    padding: 0 20px;
    margin: 180px 50px 50px 50px;
    
    @media @tablet {
        .flex(space-evenly, center);
        margin: 210px 0 30px 0;
    }
    @media @phone {
        display: inline-flex;
        margin: 250px 10px 30px 10px;
    }
    
    img {
        max-width: 600px;
        width: 50%;
        transform: scaleX(-1);
        @media @tablet {
            max-width: 400px;
            width: 50%;
        }
        @media @phone {
            max-width: 400px;
            display: block;
            margin: 0 0 0 10px;
            position: relative;
        }
        @media @mobile {
            max-width: 280px;
            width: 100%;
        }
    }
    .landing-text {
        .flex(center, center, column);
        width: 400px;
        text-align: center;
        
        @media @tablet {
            width: 250px;
        }
        
        h1 {
            font-size: 1.8rem;
            font-weight: normal;
            @media @mobile {
                border-radius: 2px;
                font-size: 1.5rem;
                background-color: #f4f4f4;
                padding: 4px;
                position: absolute;
                top: 260px;
                right: 30px;
            }
            
        }
        h3 {
            margin: 0;
            font-weight: normal;
            @media @phone {
                font-size: 1.1rem;
            }
            @media @mobile {
                border-radius: 2px;
                font-size: .9rem;
                background-color: #f4f4f4;
                padding: 4px;
                position: absolute;
                right: 30px;
                top: 345px;
            }
        }
        p {
            max-width: 400px;
            line-height: 1.25;
            @media @tablet {
                display: none;
            }
        }
    }
}

.sm-form {
    .flex(center, center, row);
    @media @tablet {
        .flex(center, center, column);
    }
    button {
        .btn();
        @media @tablet {
            margin: 10px 0;
        }
    }
    .hidden {
        display: none;
        text-align: center;
        @media @tablet {
            display: block;
        }
        @media @mobile {
            width: 250px;
        }
    } 
}
