.small-logo-section{
    .flex(space-between, center, column);
    padding-bottom: 20px;
    
    .dot-logo {
        width: 50px;
        padding-right: 10px;
    }
    
    h3 {
        padding: 0;
        text-align: center;
        font-weight: normal;
    }
}