html {
  font-size: 62.5%
}
body {
  margin: 0;
  padding: 0;
  .style-text(1.8rem, @darkerColor);
  .font-family('Open Sans');
}
h1, h2, h3, h4, h5, h6 {
  .font-family('Nunito');
  color: @darkTeal;

  @media @phone {
    text-align: center;
  }
}
h2 {
  .style-text(3rem, @darkTeal)
}
.container {
  max-width: @container-width;
  margin: 2rem auto;
  @media @phone {
    width: 85%;
  }
}
section {
  padding: 3rem;
  margin:auto;
  height: 80vh;

  @media @phone {
    height: auto;
  }
}
.full-banner {
  .full-banner();
}
.card {
  .makeCard();
}
.sticky-menu {
  position: fixed; /* Fixed/sticky position */
  bottom: 3rem; /* Place the button at the bottom of the page */
  right: 0; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  display: none;
}
.showMenuButton {
  .icon-container();
  position: fixed; /* Fixed/sticky position */
  bottom: 3rem; /* Place the button at the bottom of the page */
  right: 3rem; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
}
.showMenu {
  display: block;
}
button {
  outline: none;
  cursor: pointer;
}

footer {
  width: 100%;
  padding: 2rem 0;
  text-align: center;
  .gradient;
  a {
    color: @darkerColor;
    &:hover {
      color: white;
    }
  }
}