.cards {
  display: flex;
  justify-content: space-between;
  @media @phone {
    flex-direction: column;

    
  }
  .card {
    width: 28%;
    @media @phone {
      width: 87%;
      margin: 1rem auto;
    }
    .steps{
      .icon-container();
      // display: flex;
      // justify-content: center;
      // align-items: center;
      // margin: auto;
      // width: 6rem;
      // height: 6rem;
      // .background-color(@darkTeal);
      // .style-text(2rem, white);
      // .border-radius(50%);
    }
  }
}