.style-text(@size, @color: #333) {
  font-size: @size;
  color: @color;
}
.gradient() {
  background: linear-gradient(
    145deg,
    rgba(36, 180, 165, 1) 0%,
    rgba(143, 237, 194, 1) 100%
  );
}
.font-family(@family-name:"Nunito") {
  font-family: @family-name, sans-serif;
}
.border() {
  border: 1px solid @darkTeal;
}
.box-shadow() {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.11);
}
.border-radius(@radius: 1rem;) {
  border-radius: @radius;
}
.full-banner() {
  text-align: center;
  .gradient();
  margin: 0;
  width: 100%;
  padding: 2rem 0;
}

.font-awesome(@icon-var) {
  .fa-icon;
  .fab;

  &:before {
    content: @icon-var;
  }
}
