.bg-content {
    .background-teal();
    .flex(center, center, column);
    padding: 50px 50px 70px 50px;
    margin: 50px 0;
    @media @tablet {
        padding: 10px 20px 50px 20px;
        margin: 20px 0;
    }

    .small-logo-section{
        .flex(space-between, center, row);
        padding-bottom: 20px;
        
        .dot-logo {
            width: 50px;
            padding-right: 10px;
        }
        
        h3 {
            padding: 0;
            text-align: center;
            font-weight: normal;
        }
    }

    .diffrent-approach {
        .flex(center, none, row);
        @media @tablet {
            .flex(center, none, column);
            max-width: 600px;
        }  
        
        .survivor-approach {
            background-color: white;
            border: 1px solid @gray;
            padding: 20px;
            margin: 0 20px;
            max-width: 550px;
            border-radius: 10px;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            h3 {
                font-weight: normal;
                text-align: center;
            }
            .float-left {
                max-width: 200px;
                float: left;
                padding: 0 10px 10px 0; 
                @media screen and (max-width: 950px) {
                    float: none;
                    display: block;
                    margin: 0 auto;
                }
            }
            &:hover {
                box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            }
            @media @tablet {
                margin-bottom: 20px;
            }    

        }
        .ff-approach {
            background-color: white;
            border: 1px solid @gray;
            padding: 20px;
            margin: 0 20px;
            max-width: 550px;
            border-radius: 10px;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

            h3 {
                font-weight: normal;
                text-align: center;
            }
            .float-right {
                max-width: 200px;
                float: right;
                padding: 0 0 10px 10px;
                @media screen and (max-width: 950px) {
                    float: none;
                    display: block;
                    margin: 0 auto;
                }
            }
            &:hover {
                box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            }  
        }
    }
    .divider {
        padding: 60px 0 0 0;
        h1 {
            text-align: center;
            font-weight: normal;
        }
    }
}
