.container{
    
    footer {
        padding: 50px;
        .flex(space-around, center, column);
        .background-teal();
    
        nav {
            padding: 20px 0;
            
            a {
                padding: 10px 30px;
                text-decoration: none;
                color: black;
            }

        }
        .social-media {
            padding: 20px 0;

            a {
                padding: 10px 10px;
                text-decoration: none;
                color: black;
                
                .fa {
                    color: white;
                    font-size: 36px;
                }
            }
        }
    }
}