nav {
  width: 100vw;
  .gradient();
  .menu {
    width: @container-width;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    a {
      text-decoration: none;
      .style-text(1.8rem, #333);
      
      padding: 1.5rem;
      &:hover {
        .style-text(1.8rem, white);
      }
    }
  }
}
