img {
  display: flex;
  justify-content: center;
}
.container {
  width: 100rem;
  margin: auto;
}
nav {
  width: 100vw;
  background: linear-gradient(145deg, #24b4a5 0%, #8fedc2 100%);
}
nav .menu {
  width: 100rem;
  margin: auto;
  display: flex;
  justify-content: flex-end;
}
nav .menu a {
  text-decoration: none;
  font-size: 1.8rem;
  color: #333;
  padding: 1.5rem;
}
nav .menu a:hover {
  font-size: 1.9rem;
  color: white;
}
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
}
