@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Nunito Regular'), local('Nunito-Regular'), url(https://fonts.gstatic.com/s/nunito/v10/XRXV3I6Li01BKofINeaE.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v16/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}
.container {
  width: 100rem;
  margin: auto;
}
nav {
  width: 100%;
  background: linear-gradient(145deg, #24b4a5 0%, #8fedc2 100%);
}
nav .menu {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
}
nav .menu a {
  text-decoration: none;
  font-size: 1.8rem;
  color: #333;
  padding: 1.5rem;
}
nav .menu a:hover {
  font-size: 1.8rem;
  color: white;
}
header {
  display: flex;
  justify-content: space-between;
  margin: auto;
  height: 90vh;
  width: 90vw;
}
header h1 {
  font-size: 4rem;
  text-align: center;
}
header .header-img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.11);
  margin: auto;
  padding: 2rem;
  border-radius: 1rem;
  max-width: 45%;
}
header .header-img img {
  max-width: 90%;
  height: auto;
  margin: auto;
  padding: 3rem;
  object-fit: cover;
}
header .header-img h2 {
  text-align: center;
}
header .CTA {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 55%;
}
header .CTA .logo {
  height: 7rem;
}
header .CTA p {
  text-align: center;
  margin: 0 1rem;
  width: 75%;
}
header .CTA button {
  font-size: 3rem;
  color: #24b4a5;
  font-family: 'Nunito', sans-serif;
  background-color: white;
  padding: 2rem;
  margin: 2rem;
  border: 1px solid #8fedc2;
  border-radius: 2rem;
}
header .CTA button:hover {
  background-color: #24b4a5;
  color: white;
  cursor: pointer;
}
header .CTA button:focus {
  outline: 0;
}
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  font-size: 1.8rem;
  color: #333;
  font-family: 'Open Sans', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Nunito', sans-serif;
}
.testimonials {
  margin: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.testimonial {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.11);
  border-radius: 1rem;
}
.testimonial div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30%;
  background-color: #8fedc2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.11);
  border-radius: 1rem;
}
.testimonial div .user-avatar {
  border-radius: 3rem;
  margin: 2rem auto;
  height: 50%;
  border: 5px solid white;
}
.testimonial h3 {
  margin: 2rem;
  text-align: center;
}
.hide {
  display: none;
}
blockquote {
  margin: 2rem;
  font-size: 2.5rem;
  color: #333;
  width: 70%;
}
