.testimonials {
  margin: auto;
  height: 100vh;
}
.testimonial {
  display: flex;
}
.hide {
  display: none;
}
.speech-bubble-img {
  width: 20rem;
}
.speech-bubble-img img {
  object-position: top;
}
.user-avatar {
  border-radius: 3rem;
  height: 50%;
}
